* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: rgb(255, 248, 240);
}

header{
    display: block;
    text-align: center;
    margin-bottom: 15px;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 560px;
    width: 100%;
    border: solid 2px black;
    border-radius: 5px;
}

form {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 20px;
}

form input, form button {
    padding: 5px;
    background-color: white;
    border: none;
    border-bottom: solid 2px black;
    border-radius: 5px;
}

form button {
    font-weight: bold;
    background-color: rgb(58, 49, 40);
    color: white;
}

form button:hover {
    cursor: pointer;
    background-color: rgb(99, 88, 77);
}

table {
    width: 100%;
}

table th {
    border-bottom: 2px solid black;
    padding: 5px;
    
}

table tbody {
    text-align: center;
}

table tbody td {
    font-size: 14px;
    padding: 5px;
}

table tbody img {
    height: 18px;
}

table tbody img:hover {
    cursor: pointer;
}

footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    margin-bottom: 5px;
}

footer h3 {
    font-size: 16px;
}

footer p {
    font-size: 12px;
}

.LinhaClara{
    background-color: rgb(212, 212, 212);
}